<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.springboottemplatebase.mapper.SystemRoleMenuRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.boot.springboottemplatebase.domain.systemrole.SystemRoleMenuRef">
        <id column="id" property="id" />
        <result column="icon" property="icon" />
        <result column="menu_level" property="menuLevel" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="sort_no" property="sortNo" />
        <result column="page_id" property="pageId" />
        <result column="role_id" property="roleId" />
        <result column="parent_id" property="parentId" />
        <result column="opened" property="opened" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    
    <delete id="deleteAllByRoleId"></delete>

</mapper>
