<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.springboottemplatebase.mapper.SystemPageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.example.boot.springboottemplatebase.domain.systempage.persistent.SystemPage">
        <id column="id" property="id"/>
        <result column="page_code" property="pageCode"/>
        <result column="page_name" property="pageName"/>
        <result column="page_url" property="pageUrl"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="getPageCodeById" resultType="java.lang.String">
        select code from system_page where id = #{pageId}
    </select>

</mapper>
