<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.springboottemplatebase.mapper.SystemRoleMenuPermissionRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.example.boot.springboottemplatebase.domain.systemrole.entity.SystemRoleMenuPermissionRefEntity">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="role_menu_id" property="roleMenuId"/>
        <result column="page_permission_id" property="pagePermissionId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <delete id="deleteAllByRoleId">
        delete from system_role_menu_permission_ref
        where role_id = #{roleId}
    </delete>

    <select id="securityGetRoleMenuPermissionListByMenuIds"
            resultType="com.example.boot.springboottemplatebase.domain.systemrole.value.SecurityGetRoleMenuPermissionListByMenuIdsVO">
        select
        (select page_code from system_page where id = role_menu.page_id) as page_code,
        (select permission_code from system_permission where id= role_menu_permission.page_permission_id) as permission_code
        from
        system_role_menu_permission_ref role_menu_permission
        left join system_role_menu_ref role_menu on role_menu.id = role_menu_permission.role_menu_id
        where
        ref.menu_id in
        <foreach collection="list" item="menuId" index="index" open="(" close=")" separator=",">
            #{menuId}
        </foreach>
        and ref.deleted = '0'
    </select>

</mapper>
