<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background: #fbfbfb;">
<head><th:block th:replace="common/common_header::header"/></head>
<body>
<form class="layui-form" style="padding: 20px 30px 0 0;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>模块信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">页面名称</label>
        <div class="layui-col-md6">
            <div class="layui-form-mid layui-word-aux" th:text="${page.name}"></div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模块代码</label>
        <div class="layui-col-md6">
            <div class="layui-form-mid layui-word-aux" style="font-family: Consolas,serif;" th:text="${page.code}"></div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问链接</label>
        <div class="layui-col-md6">
            <div class="layui-form-mid layui-word-aux" style="font-family: Consolas,serif;" th:text="${page.url}"></div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用途描述</label>
        <div class="layui-input-block">
            <div class="layui-col-md6">
                <div class="layui-form-mid layui-word-aux" th:text="${page.description}"></div>
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>模块权限</legend>
    </fieldset>
    <div id="page-permission">
        <div id="blank-tips" class="layui-form-item" th:styleappend="${#lists.isEmpty(page.pagePermissions) ? '' : 'display: none;'}">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <div class="layui-form-mid layui-word-aux">请添加页面所需的权限信息</div>
            </div>
        </div>
        <!-- 添加后的权限信息显示在此处 -->
        <div th:each="permission : ${page.pagePermissions}" class="layui-form-item layui-row layui-col-space10 page-permission">
            <div class="layui-col-md2" style="width: auto;">
                <label class="layui-form-label">权限名</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux" th:text="${permission.permissionName}"></div>
                </div>
            </div>
            <div class="layui-col-md2" style="width: auto;">
                <label class="layui-form-label">权限代码</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux" th:text="${permission.permissionCode}"></div>
                </div>
            </div>
            <div class="layui-col-md5">
                <label class="layui-form-label">拦截的URL</label>
                <div class="layui-input-block">
                    <input type="text" name="interceptUrls" th:value="${permission.interceptUrls}" class="layui-input" style="color: #999;font-family: Consolas,serif;">
                </div>
            </div>
        </div>
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
</body>
</html>