<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="common/common_header::header"/></head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>开启头部工具栏</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-card-header">查询条件</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                        <div class="layui-col-md3">
                            <label class="layui-form-label">权限名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" placeholder="请输入权限的名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">权限代码</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" placeholder="请输入权限的代码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="form-search" class="layui-btn layui-btn-primary layuiadmin-btn-list" lay-submit lay-filter="form-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 查询
                                </button>
                                <button id="form-reset" class="layui-btn layui-btn-primary layuiadmin-btn-list" lay-filter="form-reset">
                                    <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i> 重置
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="padding-bottom: 10px;">
                        <button class="layui-btn layui-btn-normal layuiadmin-btn-list" data-type="create">添加权限</button>
                    </div>
                    <table class="layui-hide" id="data-table" lay-filter="data-table"></table>
                    <script type="text/html" id="table-toolbar">
                        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="modify">
                            <i class="layui-icon layui-icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                            <i class="layui-icon layui-icon-delete"></i>删除
                        </a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var form, table, laydate;

    layui.use(['form', 'table', 'laydate'], function () {
        form = layui.form;
        table = layui.table;
        laydate = layui.laydate;

        form.on('submit(form-search)', function (data) {
            var field = data.field;
            table.reload('data-table', {
                where: field
            });
        });

        page.init_table({
            title: '系统权限',
            url: '/system/permission/table',
            elem: '#data-table',
            component: table,
            cols: [
                {type: 'checkbox', fixed: 'left', field: 'id', title: 'id'},
                {title: '权限名称', field: 'name'},
                {title: '权限代码', field: 'code', style: 'font-family: Consolas,serif;'},
                {title: '作用描述', field: 'description'},
                {title: '创建时间', field: 'createTime'},
                {title: '更新时间', field: 'updateTime'},
                {title: '操作', toolbar: '#table-toolbar'}
            ],
            event: function (obj) {
                var data = obj.data;
                if (obj.event === 'delete') {
                    layer.confirm('真的删除行么', function (index) {
                        deletePage(data.id);
                    });
                } else if (obj.event === 'modify') {
                    page.open_view({
                        url: '/system/permission/modify/' + data.id,
                        title: '编辑'
                    });
                }
            }
        });

        var active = {
            create: function () {
                page.open_view({
                    url: '/system/permission/create',
                    title: '添加'
                });
            }
        };
        $('.layui-btn.layuiadmin-btn-list').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    function deletePage(id) {
        page.async_request({
            url: '/system/permission/delete/' + id,
            type: 'delete',
            success: function (result) {
                layer.msg(result.message, {icon: 1});
                $('#form-search').click();
            }
        });
    }
</script>
</body>
</html>