<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::header(~{::title})">
    <meta charset="utf-8">
    <title>springboot-template-framework</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px 30px 0 0;">
    <input type="hidden" id="permissionId" th:value="${permission.id}">

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="name" th:value="${permission.name}" lay-verify="required" placeholder="权限名称"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">命名方式：模块名称_功能名称</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限代码</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="code" th:value="${permission.code}" lay-verify="required" placeholder="权限代码(由英文和下划线组成)"
                       class="layui-input" style="font-family: Consolas,serif;">
            </div>
            <div class="layui-form-mid layui-word-aux">命名方式：模块代码_功能代码</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用途描述</label>
        <div class="layui-input-block">
            <div class="layui-col-md6">
                <textarea name="description" th:text="${permission.description}" class="layui-textarea" placeholder="该页面的用途描述"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="提交">
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var form;

    layui.use(['form', 'laydate', 'upload'], function () {
        form = layui.form;

        form.on('submit(submit)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数
            var permissionId = $('#permissionId').val();

            page.async_request({
                url: '/system/permission/modify/' + permissionId,
                type: 'put',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });
    });
</script>
</body>
</html>