<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>系统菜单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" th:href="@{/static/layuiadmin/layui/css/layui.css}"
          media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" th:href="@{/static/layuiadmin/style/admin.css}"
          media="all">
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>开启头部工具栏</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-card-header">查询条件</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                        <div class="layui-col-md3">
                            <label class="layui-form-label">字段1：</label>
                            <div class="layui-input-block">
                                <input type="text" name="column1" placeholder="字段1的查询条件"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">字段2：</label>
                            <div class="layui-input-block">
                                <input type="text" name="column2" placeholder="字段2的查询条件"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">字段3：</label>
                            <div class="layui-input-block">
                                <input type="text" name="column3" placeholder="字段3的查询条件"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">字段4：</label>
                            <div class="layui-input-block">
                                <input type="text" name="column4" placeholder="字段4的查询条件"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layuiadmin-btn-list" id="form-search" lay-submit lay-filter="form-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 查询
                                </button>
                                <button class="layui-btn layui-btn-primary layuiadmin-btn-list" lay-filter="form-reset">
                                    <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i> 重置
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="padding-bottom: 10px;">
                        <button class="layui-btn layuiadmin-btn-list" data-type="save">
                            <i class="layui-icon layui-icon-add-1"></i>添加菜单
                        </button>
                        <button class="layui-btn layui-btn-danger layuiadmin-btn-list" data-type="batchdel">
                            <i class="layui-icon layui-icon-delete"></i>批量删除
                        </button>
                    </div>

                    <table class="layui-hide" id="data-table" lay-filter="data-table"></table>

                    <script type="text/html" id="table-toolbar">
                        <a class="layui-btn layui-btn-xs" lay-event="modify">
                            <i class="layui-icon layui-icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">
                            <i class="layui-icon layui-icon-delete"></i>删除
                        </a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layuiadmin/layui/layui.js" th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['table', 'form'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;

    });

    function goSubMenuSave(parentId) {
        layer.open({
            type: 2,
            title: '添加一级菜单',
            content: '/sysmenu/' + parentId + '/sub_save',
            maxmin: true,
            area: ['100%', '100%'],
            btn: ['确定', '取消'], yes: function (index, layero) {
                var submit = layero.find('iframe').contents().find("#save-submit");
                submit.click();
            }
        });
    }

    function datetimeFormat(v) {
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = date.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = date.getHours();
        h = h < 10 ? ("0" + h) : h;
        var M = date.getMinutes();
        M = M < 10 ? ("0" + M) : M;
        var str = y + "-" + m + "-" + d + " " + h + ":" + M;
        console.info(str);

        return str;
    }
</script>
</body>
</html>