<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="common/common_header::header"/></head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>开启头部工具栏</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-card-header">查询条件</div>
                    <div class="layui-card-body layui-row layui-col-space10">
                        <div class="layui-col-md3">
                            <label class="layui-form-label">页面名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" placeholder="页面名称"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="form-search" class="layui-btn layui-btn-primary layuiadmin-btn-list" lay-submit lay-filter="form-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 查询
                                </button>
                                <button id="form-reset" class="layui-btn layui-btn-primary layuiadmin-btn-list" lay-filter="form-reset">
                                    <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i> 重置
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="padding-bottom: 10px;">
                        <button type="button" class="layui-btn layuiadmin-btn-list check-data-btn"
                                onclick="getCheckData()" style="display: none;">隐藏按钮
                        </button>
                    </div>
                    <table class="layui-hide" id="data-table" lay-filter="data-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var form, table, laydate;

    layui.use(['form', 'table', 'laydate'], function () {
        form = layui.form;
        table = layui.table;
        laydate = layui.laydate;

        form.on('submit(form-search)', function (data) {
            var field = data.field;
            table.reload('data-table', {
                where: field
            });
        });

        page.init_table({
            id: 'page-table',
            title: '系统页面',
            url: '/system/page/table',
            elem: '#data-table',
            component: table,
            cols: [
                {type: 'radio', fixed: 'left', field: 'id', title: '选择页面'},
                {title: '页面名称', field: 'name'},
                {title: '模块代码', field: 'code', style: 'font-family: Consolas,serif;'},
                {title: '访问URL', field: 'url', style: 'font-family: Consolas,serif;'},
                {title: '作用描述', field: 'description'},
                {title: '创建时间', field: 'createTime'},
                {title: '更新时间', field: 'updateTime'}
            ]
        });
    });

    function getCheckData() {
        var checkStatus = table.checkStatus('page-table'), data = checkStatus.data;
        if (data.length < 1) {
            layer.msg('请勾选对应的页面信息', {icon: 5});
            return;
        }

        parent.$('#page-data').val(JSON.stringify(data[0]));

        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
</body>
</html>