<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::header(~{::title})">
    <meta charset="utf-8">
    <title>springboot-template-framework</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px 30px 0 0;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>模块信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">页面名称</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="name" lay-verify="required" placeholder="页面名称"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">页面所在模块的名称</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模块代码</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="code" lay-verify="required" placeholder="模块代码"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">所在模块的英文代码(只允许输入大写英文和下划线)</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问链接</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="url" lay-verify="required" placeholder="页面访问URL"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">设置页面的相对路径</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用途描述</label>
        <div class="layui-input-block">
            <div class="layui-col-md6">
                <textarea name="description" class="layui-textarea" placeholder="该页面的用途描述"></textarea>
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>模块权限</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">页面权限</label>
        <div class="layui-input-block">
            <input type="checkbox" name="" title="权限1" checked>
            <input type="checkbox" name="" title="权限2">
            <input type="checkbox" name="" title="权限3">
            <button type="button" onclick="choosePermission()" class="layui-btn layui-btn-primary">添加</button>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit"
               value="添加">
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var form;

    layui.use(['form', 'laydate', 'upload'], function () {
        form = layui.form;

        form.on('submit(submit)', function (data) {
            var field = data.field; //表单参数
            var index = parent.layer.getFrameIndex(window.name);

            page.async_request({
                url: '/system/page/create',
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });
    });

    function choosePermission() {
        page.open_view({
            url: '/system/permission/choose_permission',
            title: '添加权限',
            yes: function (index, layero) {
                layero.find('iframe').contents().find("#choose").click();
            }
        });
    }

    function choosePermissionCallback(data) {
        console.info('callback success!');
        console.info(data);
    }
//
//    /* todo 寻找更优的解决方案 */
//
//    function getPermissionInfo(data) {
//        var permissionInfo = JSON.parse(data);
//
//        var divId = new Date().getTime();
//
//        var permission = $('#template').clone();
//        permission.css('display', 'block');
//
//        permission.attr('id', 'permission-' + divId);
//
//        permission.find('input[name="permissionInfo"]').val(data);
//        permission.find('input[name="permissionName"]').val(permissionInfo.name);
//
//        permission.find('button').attr('click', 'delPermissionInfo("' + divId + '")');
//
//        $('.permission-info:last').after(permission);
//        form.render();
//    }
//
//    function delPermissionInfo(id) {
//        var length = $('.permission-url').length;
//        if (length <= 1) {
//            layer.msg('至少拦截一个地址');
//            return;
//        }
//
//        $('#permission-' + id).remove();
//    }
</script>
</body>
</html>