<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="common/common_header::header"/></head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px 30px 0 0;">
    <input type="hidden" id="role-id" th:value="${roleId}">
    <input type="hidden" id="menu-id" th:value="${menuId}">

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-col-md6">
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" name="name" lay-verify="required" placeholder="角色名称"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">角色的中文名称</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单图标</label>
        <div class="layui-input-block">
            <input type="hidden" name="icon">
            <button type="button" class="layui-btn layui-btn-primary" onclick="chooseIcon()">选择图标</button>
            <button type="button" id="icon-btn" class="layui-btn layui-btn-primary" style="display: none;">
                <i class="layui-icon layui-icon-face-smile"></i>
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序编号</label>
        <div class="layui-input-block">
            <div class="layui-col-md6">
                <input type="number" name="sortNo" value="0" lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="修改父菜单">
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        form.on('submit(submit)', function (data) {
            var roleId = $('#role-id').val(); //角色ID
            var menuId = $('#menu-id').val(); //菜单ID
            var field = data.field; //表单参数
            page.async_request({
                url: '/system/role/' + roleId + '/modify_role_root_menu/' + menuId,
                type: 'put',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        layer.msg(result.message, {icon: 1});
                        refreshTree(); //刷新树状菜单
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });
    });
</script>
</body>
</html>