<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="logback/logback-security-base.xml"/>

    <!-- Log Level -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </root>
</configuration>
