<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/common_header::header"/>
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px;">
    <input type="hidden" id="role-id" th:value="${roleId}">

    <div class="layui-row layui-col-space15">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm create-root-menu">添加一级菜单</button>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm refresh-menu">
                <i class="layui-icon layui-icon-refresh-3"></i>刷新菜单</button>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">菜单</div>
                <div class="layui-card-body">
                    <div id="menu-tree" class="demo-tree-more layui-col-lg2" style="float: none;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header">菜单</div>
                <div id="iframepage-body" class="layui-card-body" style="display: none;">
                    <iframe id="iframepage" frameborder="0" scrolling="auto" class="layadmin-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var roleId = $('#role-id').val();
    var form, tree, util;

    layui.use(['form', 'tree', 'util'], function () {
        form = layui.form;
        tree = layui.tree;
        util = layui.util;

        init(); //初始化页面
    });

    /*创建一级菜单*/
    $('.create-root-menu').click(function () {
        $('#iframepage-body').css('display', 'block');
        $('#iframepage').attr('src', domain + '/system/role/' + roleId + '/create_role_root_menu');
    });
    /*刷新树状菜单*/
    $('.refresh-menu').click(function () {
        page.async_request({
            url: '/system/role/' + roleId + '/get_role_menu',
            success: function (result) {
                if (result.status === httpstatus.OK.code) {
                    tree.reload('menu-tree', {
                        data: result.data
                    });
                } else {
                    layer.msg(result.message, {icon: 5})
                }
            }
        });
    });

    $(function () {
        changeFrameHeight();

        /*iframe自适应*/
        function changeFrameHeight() {
            var ifm = document.getElementById('iframepage');
            ifm.height = document.documentElement.clientHeight;
            $('#iframepage-body').css('height', ifm.height);
            console.info(ifm.height);
        }
        window.onresize = function () {
            changeFrameHeight();
        };
    });

    function init() {
        page.async_request({
            url: '/system/role/' + roleId + '/get_role_menu',
            callback: function (response) {
                tree.render({
                    id: 'menu-tree',
                    elem: '#menu-tree',
                    edit: ['add', 'update', 'del'],
                    data: response.data,
                    operate: function (obj) {
                        var type = obj.type; //得到操作类型
                        var data = obj.data; //得到当前节点的数据
                        if (type === 'add') {
                            if (data.menuLevel !== 1) {
                                layer.msg('二级菜单无法添加子菜单', {icon: 5});
                                return;
                            }
                            createSubMenu(data.id, data.title);
                        } else if (type === 'update') {
//                                if (data.menuLevel === 1) {
//                                    modifyRootMenu(data);
//                                } else if (data.menuLevel === 2) {
//                                    modifySubMenu(data);
//                                }
                        } else if (type === 'del') {
                            deleteMenu(data);
                        }
                    }
                });
            }
        })
    }

    function createSubMenu(parentId) {
        $('#iframepage-body').css('display', 'block');
        $('#iframepage').attr('src', domain + '/system/role/' + roleId + '/role_menu/' + parentId + '/create_role_sub_menu');
    }

    //TODO 需完成改造的工作

//    function modifyRootMenu(menu) {
//        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
//        $('#page-permission').html('');
//        $('#page-permission').css('display', 'block');
//        $('#modify-menu').css('display', 'block');
//        $('#create-menu').css('display', 'none');
//        $('#icon-btn').css('display', 'inline-block');
//        $('.root-menu').css('display', 'block');
//        $('.sub-menu').css('display', 'none');
//
//        $('input[name="menuId"]').val(menu.id);
//        $('input[name="menuName"]').val(menu.title);
//        $('input[name="icon"]').val(menu.icon);
//        $('input[name="sortNo"]').val(menu.sortNo);
//        $('#icon-btn').html('<i class="layui-icon ' + menu.icon + '"></i>');
//
//        $('#menu-form').css('display', 'block');
//        form.render(); //重新渲染
//    }
//
//    function modifySubMenu(menu) {
//        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
//        $('#page-permission').html('');
//        $('#page-permission').css('display', 'block');
//        $('#modify-menu').css('display', 'block');
//        $('#create-menu').css('display', 'none');
//        $('#icon-btn').css('display', 'inline-block');
//        $('.sub-menu').css('display', 'block');
//        $('.root-menu').css('display', 'none');
//        $('#blank-tips').css('display', 'none');
//
//        $('input[name="pageId"]').val(menu.pageId);
//        $('input[name="menuId"]').val(menu.id);
//        $('input[name="menuName"]').val(menu.title);
//        $('input[name="icon"]').val(menu.icon);
//        $('input[name="sortNo"]').val(menu.sortNo);
//        $('#icon-btn').html('<i class="layui-icon ' + menu.icon + '"></i>');
//
//        page.async_request({
//            url: '/system/role/' + roleId + '/modify_role_sub_menu/' + menu.id,
//            success: function (result) {
//                if (result.status === httpstatus.OK.code) {
//                    $('#parent-page').val(result.data.parentName);
//                    $('#page-name').val(result.data.pageName);
//                    $('#page-code').val(result.data.pageCode);
//                    $('#page-url').val(result.data.pageUrl);
//
//                    var pagePermissions = result.data.pagePermissions;
//                    pagePermissions.forEach(function (value) {
//                        var checkbox = '';
//                        if (value.checked) {
//                            checkbox += '<input type="checkbox" name="permissionId" value="' + value.permissionId + '" title="' + value.permissionName + '" checked>';
//                        } else {
//                            checkbox += '<input type="checkbox" name="permissionId" value="' + value.permissionId + '" title="' + value.permissionName + '">';
//                        }
//                        $('#page-permission').append(checkbox);
//                    });
//
//                    $('#menu-form').css('display', 'block');
//                    form.render(); //重新渲染
//                } else {
//                    layer.msg(result.message, {icon: 5})
//                }
//            }
//        });
//    }

    function deleteMenu(menu) {
        layer.confirm('确认删除' + menu.title + '菜单?', function (index) {
            console.info('触发删除菜单事件...');
        })
    }
</script>
</body>
</html>