<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>Platform Menu</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <h3>控制台</h3>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu" th:replace="menu">

                    <!--<cite th:text="${#authentication.principal.nickname}">管理员</cite>-->

                    <li data-th-name="${menu.menuCode}" class="layui-nav-item layui-nav-itemed" th:each="menu : ${#authentication.principal.menus}">
                        <a href="javascript: void(0);" lay-tips="系统设置" lay-direction="1">
                            <i class="layui-icon" th:classappend="${menu.icon}"></i>
                            <cite th:text="${menu.menuName}">系统设置</cite>
                        </a>
                        <!--<dl class="layui-nav-child" th:each="submenu : ${menu.children}">
                            <dd data-th-name="${submenu.menuName}">
                                <a lay-href="/sysres/go_sysres_list" th:text="${submenu.menuName}">权限管理</a>
                            </dd>
                        </dl>-->
                    </li>


                    <!--<li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript: void(0);" lay-tips="系统设置" lay-direction="1">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统设置</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console">
                                <a lay-href="/sysuser/go_sysuser_list">用户管理</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="console">
                                <a lay-href="/sysrole/go_sysrole_list">角色管理</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="console">
                                <a lay-href="/sysmenu/go_sysmenu_list">菜单管理</a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd data-name="console">
                                <a lay-href="/sysres/go_sysres_list">权限管理</a>
                            </dd>
                        </dl>
                    </li>-->


                </ul>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script type="text/javascript" th:replace="common/common_global::global_var"></script>
<script type="text/javascript" th:inline="javascript">
    layui.config({
        base: domain + '/static/layuiadmin/' //对应MyMvcConfig中配置的静态资源文件
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index', function () {
    });
</script>
</body>
</html>