<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::header(~{::title})">
    <meta charset="utf-8">
    <title>springboot-template-framework</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px;">
    <input type="hidden" id="role-id">

    <div class="layui-row layui-col-space15">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">添加一级菜单</button>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">菜单</div>
                <div class="layui-card-body">
                    <div id="menu-tree" class="demo-tree-more layui-col-lg2" style="float: none;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header">权限</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-element">
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单图标</label>
                            <div class="layui-input-block">
                                <input type="text" name="icon" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="menuName" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">链接页面</label>
                            <div class="layui-input-block">
                                <button type="button" onclick="choosePage()" class="layui-btn layui-btn-primary">选择页面</button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <!--<label class="layui-form-label">页面信息</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<input type="text" class="layui-input" style="color: #999;" placeholder="请选择链接页面" readonly>-->
                            <!--</div>-->
                            <div class="layui-inline notchoose-tips">
                                <label class="layui-form-label">页面信息</label>
                                <div class="layui-input-inline">
                                    <div class="layui-form-mid layui-word-aux ">设置页面的相对路径</div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单权限</label>
                            <div class="layui-input-block">
                                <div class="layui-form-mid layui-word-aux notchoose-tips">设置页面的相对路径</div>

                                <!--<input type="checkbox" name="like[write]" title="写作">-->
                                <!--<input type="checkbox" name="like[read]" title="阅读" checked>-->
                                <!--<input type="checkbox" name="like[dai]" title="发呆">-->
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="">添加菜单</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit"
               value="添加">
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var form, tree, util;

    layui.use(['form', 'tree', 'util'], function () {
        form = layui.form;
        tree = layui.tree;
        util = layui.util;

        form.on('submit(submit)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数

            page.async_request({
                url: '/system/permission/create',
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });

        var data1 = [{
            spread: true,
            title: '江西'
            , id: 1
            , children: [{
                title: '南昌'
                , id: 1000
                , children: [{
                    title: '青山湖区'
                    , id: 10001
                }, {
                    title: '高新区'
                    , id: 10002
                }]
            }, {
                title: '九江'
                , id: 1001
            }, {
                title: '赣州'
                , id: 1002
            }]
        }, {
            title: '广西'
            , id: 2
            , children: [{
                title: '南宁'
                , id: 2000
            }, {
                title: '桂林'
                , id: 2001
            }]
        }, {
            title: '陕西'
            , id: 3
            , children: [{
                title: '西安'
                , id: 3000
            }, {
                title: '延安'
                , id: 3001
            }]
        }];

        //常规用法
        tree.render({
            id: 'menu-tree',
            elem: '#menu-tree',
            data: data1,
        });
    });

    function choosePage() {

    }
</script>
</body>
</html>