<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header::header(~{::title})">
    <meta charset="utf-8">
    <title>springboot-template-framework</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<form class="layui-form" id="form" lay-filter="form" style="padding: 20px;">
    <input type="hidden" id="role-id" th:value="${roleId}">

    <div class="layui-row layui-col-space15">
        <div class="layui-btn-container">
            <button type="button" onclick="createRootMenu()" class="layui-btn layui-btn-sm">添加一级菜单</button>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">菜单</div>
                <div class="layui-card-body">
                    <div id="menu-tree" class="demo-tree-more layui-col-lg2" style="float: none;"></div>
                </div>
            </div>
        </div>
        <div id="menu-form" class="layui-col-md8" style="display: none;">
            <div class="layui-card">
                <div class="layui-card-header">页面信息</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-element">
                        <input type="hidden" name="parentId">
                        <input type="hidden" name="menuId">
                        <input type="hidden" name="menuLevel">
                        <input type="hidden" name="pageId">

                        <div id="parent-page" class="layui-form-item sub-menu">
                            <label class="layui-form-label">父页面</label>
                            <div class="layui-input-block">
                                <div class="layui-col-md6">
                                    <input type="text" class="layui-input" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单名称</label>
                            <div class="layui-input-block">
                                <div class="layui-col-md6">
                                    <input type="text" name="menuName" lay-verify="required" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单图标</label>
                            <div class="layui-input-block">
                                <div class="layui-col-md6">
                                    <input type="text" name="icon" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序编号</label>
                            <div class="layui-input-block">
                                <div class="layui-col-md6">
                                    <input type="number" name="sortNo" value="0" lay-verify="required"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item sub-menu">
                            <label class="layui-form-label">链接页面</label>
                            <div class="layui-input-block">
                                <input type="hidden" id="page-data">
                                <button type="button" onclick="choosePage()" class="layui-btn layui-btn-primary">
                                    选择页面
                                </button>
                            </div>
                        </div>
                        <div class="layui-form-item sub-menu">
                            <div class="layui-inline">
                                <label class="layui-form-label">页面名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="page-name" class="layui-input" placeholder="请选择链接页面"
                                           readonly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">页面代码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="page-code" class="layui-input"
                                           style="font-family: Consolas,serif;" placeholder="请选择链接页面" readonly>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">访问链接</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="page-url" class="layui-input"
                                           style="font-family: Consolas,serif;" placeholder="请选择链接页面" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item sub-menu">
                            <label class="layui-form-label">菜单权限</label>
                            <div id="blank-tips" class="layui-input-block sub-menu" style="display: none;">
                                <div class="layui-form-mid layui-word-aux">设置页面的相对路径</div>
                            </div>
                            <div id="page-permission" class="layui-input-block" style="display: none;">
                                <!-- page permission checkbox there -->
                            </div>
                        </div>

                        <div id="create-menu" class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn root-menu" lay-submit lay-filter="create-root-menu">添加一级菜单</button>
                                <button class="layui-btn sub-menu" lay-submit lay-filter="create-sub-menu">添加菜单</button>
                            </div>
                        </div>
                        <div id="modify-menu" class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn root-menu" lay-submit lay-filter="modify-root-menu">修改一级菜单</button>
                                <button class="layui-btn sub-menu" lay-submit lay-filter="modify-sub-menu">修改菜单</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<footer th:replace="common/common_footer::footer"></footer>
<script type="text/javascript" th:inline="javascript">
    var roleId = $('#role-id').val();
    var form, tree, util;

    layui.use(['form', 'tree', 'util'], function () {
        form = layui.form;
        tree = layui.tree;
        util = layui.util;

        form.on('submit(create-root-menu)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数

            page.async_request({
                url: '/system/role/' + roleId + '/create_role_root_menu',
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });
        form.on('submit(create-sub-menu)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数

            var permissionIds = packaging();
            if (permissionIds.length < 1) {
                layer.msg('至少选择勾选一个权限', {icon: 5});
                return;
            }

            field.permissionIds = permissionIds;

            page.async_request({
                url: '/system/role/' + roleId + '/create_role_sub_menu',
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            })
        });

        form.on('submit(modify-root-menu)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数

            var menuId = $('input[name="menuId"]').val();

            page.async_request({
                url: '/system/role/' + roleId + '/modify_role_root_menu/' + menuId,
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5})
                    }
                }
            })
        });
        form.on('submit(modify-sub-menu)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);
            var field = data.field; //表单参数

            var permissionIds = packaging();
            if (permissionIds.length < 1) {
                layer.msg('至少选择勾选一个权限', {icon: 5});
                return;
            }

            field.permissionIds = permissionIds;

            var menuId = $('input[name="menuId"]').val();

            page.async_request({
                url: '/system/role/' + roleId + '/modify_role_sub_menu/' + menuId,
                type: 'post',
                data: JSON.stringify(field),
                success: function (result) {
                    if (result.status === httpstatus.OK.code) {
                        parent.layui.table.reload('data-table');
                        parent.layer.close(index);
                    } else {
                        layer.msg(result.message, {icon: 5});
                    }
                }
            })
        });

        init(); //初始化页面
    });

    function init() {
        page.async_request({
            url: '/system/role/' + roleId + '/get_role_menu',
            success: function (result) {
                if (result.status === httpstatus.OK.code) {
                    tree.render({
                        id: 'menu-tree',
                        elem: '#menu-tree',
                        edit: ['add', 'update', 'del'],
                        data: result.data,
                        operate: function (obj) {
                            var type = obj.type; //得到操作类型
                            var data = obj.data; //得到当前节点的数据

                            if (type === 'add') {
                                if (data.menuLevel !== 1) {
                                    layer.msg('二级菜单无法添加子菜单', {icon: 5});
                                    return;
                                }
                                createSubMenu(data.id, data.title);
                            } else if (type === 'update') {
                                console.info(data.menuLevel);

                                if (data.menuLevel === 1) {
                                    modifyRootMenu(data);
                                } else if (data.menuLevel === 2) {
                                    modifySubMenu(data);
                                }
                            } else if (type === 'del') {
                                deleteMenu(data);
                            }
                        }
                    });
                } else {
                    layer.msg(result.message, {icon: 5})
                }
            }
        })
    }

    function packaging() {
        var permissionIds = [];
        $('input[name="permissionId"]').each(function () {
            var permissionId = $(this).val();
            permissionIds.push(permissionId);
        });

        return permissionIds;
    }

    function createRootMenu() {
        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
        $('#page-permission').html('');
        $('#create-menu').css('display', 'block');
        $('#modify-menu').css('display', 'none');
        $('.root-menu').css('display', 'block');
        $('.sub-menu').css('display', 'none');

        $('input[name="menuLevel"]').val(1);

        form.render(); //重新渲染

        $('#menu-form').css('display', 'block');
    }

    function createSubMenu(parentId, parentName) {
        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
        $('#page-permission').html('');
        $('#blank-tips').css('display', 'block');
        $('#create-menu').css('display', 'block');
        $('#modify-menu').css('display', 'none');
        $('.sub-menu').css('display', 'block');
        $('.root-menu').css('display', 'none');

        $('input[name="parentId"]').val(parentId);
        $('input[name="menuLevel"]').val(2);
        $('#parent-page').find('input').val(parentName);

        form.render(); //重新渲染

        $('#menu-form').css('display', 'block');
    }

    function modifyRootMenu(menu) {
        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
        $('#page-permission').html('');
        $('#page-permission').css('display', 'block');
        $('#modify-menu').css('display', 'block');
        $('#create-menu').css('display', 'none');
        $('.root-menu').css('display', 'block');
        $('.sub-menu').css('display', 'none');

        $('input[name="menuId"]').val(menu.id);
        $('input[name="menuName"]').val(menu.title);
        $('input[name="icon"]').val(menu.icon);
        $('input[name="sortNo"]').val(menu.sortNo);

        form.render(); //重新渲染

        $('#menu-form').css('display', 'block');
    }

    function modifySubMenu(menu) {
        $('#menu-form', ':input').not(':button, :submit, :reset, :hidden').val('');
        $('#page-permission').html('');
        $('#page-permission').css('display', 'block');
        $('#modify-menu').css('display', 'block');
        $('#create-menu').css('display', 'none');
        $('.sub-menu').css('display', 'block');
        $('.root-menu').css('display', 'none');
        $('#blank-tips').css('display', 'none');

        $('input[name="menuId"]').val(menu.id);
        $('input[name="menuName"]').val(menu.title);
        $('input[name="icon"]').val(menu.icon);
        $('input[name="sortNo"]').val(menu.sortNo);

        page.async_request({
            url: '/system/role/' + roleId + '/modify_role_sub_menu/' + menu.id,
            success: function (result) {
                if (result.status === httpstatus.OK.code) {
                    var pagePermissions = result.data.pagePermissions;

                    pagePermissions.forEach(function (value) {
                        var checkbox = '<input type="checkbox" name="permissionId" value="' + value.permissionId + '" title="' + value.permissionName + '">';
                        $('#page-permission').append(checkbox);
                    });

                    form.render(); //重新渲染
                    $('#menu-form').css('display', 'block');
                } else {
                    layer.msg(result.message, {icon: 5})
                }
            }
        });
    }

    function deleteMenu(menu) {
        layer.confirm('确认删除' + menu.title + '菜单?', function (index) {
            console.info('出发删除菜单事件...');
        })
    }

    function choosePage() {
        page.open_view({
            url: '/system/page/choose_page',
            title: '系统页面',
            btn: ['选择页面', '取消'],
            yes: function (index, layero) {
                layero.find('iframe').contents().find('.check-data-btn').click();

                $('#blank-tips').css('display', 'none');
                $('#page-permission').css('display', 'block');

                var pageInfo = JSON.parse($('#page-data').val());
                $('input[name="pageId"]').val(pageInfo.id);
                $('#page-name').val(pageInfo.name);
                $('#page-code').val(pageInfo.code);
                $('#page-url').val(pageInfo.url);

                $('#page-permission').html('');

                page.async_request({
                    url: '/system/page/' + pageInfo.id + '/get_page_permission_list',
                    success: function (result) {
                        if (result.status === httpstatus.OK.code) {
                            var data = result.data;
                            data.forEach(function (value) {
                                var checkbox = '<input type="checkbox" name="permissionId" value="' + value.id + '" title="' + value.permissionName + '">';
                                $('#page-permission').append(checkbox);
                            });
                            form.render(); //重新渲染控件
                        } else {
                            layer.msg(result.message, {icon: 5})
                        }
                    }
                });
            }
        });
    }
</script>
</body>
</html>