<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>save</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" th:href="@{/static/layuiadmin/layui/css/layui.css}"
          media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改</legend>
</fieldset>
<form action="" class="layui-form" id="modify-form" lay-filter="modify-form" style="padding: 20px 30px 0 0;">
    <input type="hidden" id="role-id" th:value="${role.id}">

    <div class="layui-form-item">
        <label class="layui-form-label">角色名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" th:value="${role.name}" lay-verify="required" placeholder="角色名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色代码：</label>
        <div class="layui-input-block">
            <input type="text" name="code" th:value="${role.code}" lay-verify="required|rolecode" placeholder="角色代码(只允许输入英文和下划线)"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">系统菜单：</label>
        <div class="layui-input-block">
            <input type="checkbox" th:each="menu : ${menus}" name="menuIds" th:value="${menu.id}" title="系统菜单"
                   th:title="${menu.name}" th:checked="${#lists.contains(role_menu_ids, menu.id)}" lay-skin="primary">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">系统资源：</label>
        <div class="layui-input-block">
            <input type="checkbox" th:each="resource : ${resources}" name="resIds" th:value="${resource.id}"
                   title="系统资源" th:title="${resource.name}" th:checked="${#lists.contains(role_res_ids, resource.id)}" lay-skin="primary">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用途描述：</label>
        <div class="layui-input-block">
            <textarea name="description" th:text="${role.description}" class="layui-textarea" placeholder="简要描述该角色的作用"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="modify-submit" id="modify-submit"
               value="确认添加">
    </div>
</form>
<script src="../layuiadmin/layui/layui.js" th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script src="../layuiadmin/lib/jquery-3.3.1.min.js" th:src="@{/static/layuiadmin/lib/jquery-3.3.1.min.js}"></script>
<script th:inline="none">
    layui.use(['form', 'laydate', 'upload'], function () {
        var form = layui.form;
        //自定义校验
        form.verify({
            rolecode: [/^[a-zA-z-_]+$/, '只允许输入英文和下划线']
        });

        //监听提交
        form.on('submit(modify-submit)', function (data) {
            var roleid = $('#role-id').val();
            var field = data.field; //获取提交的字段(将数据提交至服务端)
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var menuids = [];
            var resids = [];
            $('input[name="menuIds"]:checked').each(function () {
                menuids.push($(this).val());
            });
            $('input[name="resIds"]:checked').each(function () {
                resids.push($(this).val());
            });

            field.menuIds = menuids;
            field.resIds = resids;

            console.info(field);

            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                url: '/sysrole/modify/' + roleid,
                type: 'put',
                data: JSON.stringify(field),
                dataType: 'json',
                contentType: "application/json",
                success: function (result) {
                    if (result === 0) {
                        layer.msg('修改成功', {icon: 1});

                        parent.layui.table.reload('data-table'); //重载表格
                        parent.layer.close(index); //再执行关闭
                    } else {
                        layer.msg('修改失败', {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('请求出错 可能是网络原因所导致', {icon: 5})
                }
            });
        });
    })
</script>
</body>
</html>